page-search {
    .introquestion{
        font-weight: 100;
        margin: 0;
        font-size: 2.45em;
    }

    .donebt{
        background: transparent !important;    font-size: 1.3em;
        margin-top: 1.1em;
        margin-right: 2em;
        font-weight: 100;
    }

    .donetxt{
        margin-right: 0.3em;
        font-size: 1em;
    }
}
