page-categories {
    .introquestion{
        margin: 0;
    }

    .category_img{
        height: 4.5em;
    }

    .donebt{
        background: transparent !important;    font-size: 1.3em;
        margin-top: 1.1em;
        margin-right: 2em;
        font-weight: 100;
    }

    .donetxt{
        margin-right: 0.3em;
        font-size: 1em;
    }

    .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
        top: -2px;
        bottom: auto;
        background-position: left 0 top 0;
        height: 0px; 
    }
}
